{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "0.12"
        }
      }
    ],
  ],
  "plugins": [
    "@babel/plugin-transform-object-rest-spread"
  ]
}